/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
  font-size: 16px;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  font-family: -apple-system-font, Helvetica Neue, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, sans-serif;
  padding-top: 88px;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  main {
    padding: 1em;
    max-width: 100%;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

:root {
  --main-max-width: 1080px;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.075);
  --posts-card-scale: 70%;
  --posts-list-scale: 70%;
  --single-cover-scale: 35%;
  /* --theme-color: #f04494; */
  --theme-color: #18191c;
  --focus-color: var(--theme-color);
  --focus-shadow-color: rgba(253, 83, 161, 0.4);
  --key-color: #333;
  --main-color: #4e5358;
  --main-shadow: rgba(116, 116, 116, 0.08);
  --muted-color: #777;
  --muted-2-color: #999;
  --muted-3-color: #b1b1b1;
  --body-bg-color: #f1f1f1;
  --main-bg-color: #fff;
  --muted-bg-color: #eee;
  --main-border-color: rgba(50, 50, 50, 0.06);
  --muted-border-color: rgba(0, 0, 0, 0.03);
  --main-radius: 8px;
  --blur-bg: rgba(255, 255, 255, 0.8);
  --float-btn-bg: rgba(200, 200, 200, 0.4);
  --header-bg: var(--blur-bg);
  --header-color: var(--main-color);
  --footer-bg: var(--main-bg-color);
  --footer-color: var(--muted-2-color);
}

[data-bs-theme="dark"] {
  --theme-color: #fff6;
  --key-color: #f8fafc;
  --main-color: #e5eef7;
  --main-shadow: rgba(24, 24, 24, 0.1);
  --muted-color: #b4b6bb;
  --muted-2-color: #888a8f;
  --muted-3-color: #636469;
  --body-bg-color: #292a2d;
  --main-bg-color: #323335;
  --muted-bg-color: #2d2e31;
  --main-border-color: rgba(114, 114, 114, 0.1);
  --muted-border-color: rgba(184, 184, 184, 0.02);
  --blur-bg: rgba(50, 51, 53, 0.8);
  --float-btn-bg: rgba(70, 70, 70, 0.4);
  --header-bg: var(--blur-bg);
  --header-color: var(--main-color);
  --footer-bg: var(--main-bg-color);
  --footer-color: var(--muted-2-color);
}

[data-bs-theme="dark"] .dropdown-menu {
  --bs-dropdown-link-hover-bg: var(--muted-3-color);
  --bs-dropdown-link-active-bg: var(--muted-3-color);
}

code {
  color: inherit;
}

.font-georgia {
  font-family: georgia, sans-serif;
}
