---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Voice from "../components/Voice.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://xephyrus.github.io/assets/fonts/BILLY_ARGEL_FONT/stylesheet.css"
    />
    <style>
      h1 {
        font-family: "BILLY ARGEL FONT", sans-serif;
        background-image: -webkit-linear-gradient(
          135deg,
          #833ab4,
          #fd1d1d,
          #fcb045
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
		font-size: 4rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="container mt-0">
      <h1 class="d-inline-block"> Xephyrus   Blog </h1>
      <p class="fs-5">
        Welcome to Xephyrus's blog, U can hear my voice and see my mind on this
        website, as an independent developer, my abilities are very limited, but I still hope that everyone likes me and my blog, Thank you for your stay.
      </p>
      <div class="position-relative" style="height: 72vh;">
        <Voice />
      </div>
    </main>
    <Footer />
  </body>
</html>
